*{
	margin:0px;
	padding:0px;
}
body{
	background-image: url(../images/bodybg.jpg);
}
h1.prof{
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	display: block;
    color: white;
    text-decoration: none;
    background-color: #4CAF50;
    width: 20%;

}
.prof1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
h2.deps{
	margin-top: 30px;

}
.box{
	background-color: #ffffff;
	opacity: 0.8;
	text-align: center;
	width: 20%;

}
th, td {
    text-align: left;
    padding: 15px;
    width: auto;
}

tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #ccccb3}

th {
    background-color:  #3399ff;
    color: white;
}
table{
  margin-left: 12%;
}
button {
    background-color: #1aff1a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.7;
}

button:hover {
    opacity: 1;
}
button.bck{
    position: relative;
    bottom: 0;
}
