*{
	margin:0px;
	padding:0px;
}
body{
	background-color: #d6d6c2;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
h3.panel-title{
	width: 98%;
	background-color: #00bfff;
	padding: 5px;
	color: white;
}
.res{
	border: 2px solid #00bfff;
	width: 30%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;

}
button {
    background-color: #33cc33;
    color: white;
    padding: 14px 20px;
    margin-bottom: 5px;
    border: 1px solid #33cc33 ;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    opacity: 0.7;
}
button:hover {
    opacity: 1;
}
a.sub{
    margin-left: 40%;
}